services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    restart: unless-stopped
    ports:
      - 127.0.0.1:5432:5432
    shm_size: 128mb
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
    environment:
      - POSTGRES_DB=$PGDATABASE
      - POSTGRES_PASSWORD=$PGPASSWORD
      - POSTGRES_USER=$PGUSER
    networks:
      - mk_network
    profiles:
      - dev
      - prod
      - test

  server:
    image: ghcr.io/bstempelj/memory-kana:0.3.0
    container_name: memory-kana
    restart: unless-stopped
    ports:
      - 127.0.0.1:1234:1234
    environment:
      - CSRF_AUTH_KEY=$CSRF_AUTH_KEY
      - HOST_ENV=prod
      - PGDATABASE
      - PGHOST=postgres
      - PGPASSWORD
      - PGSSLMODE=disable
      - PGUSER
    depends_on:
      - postgres
    networks:
      - mk_network
    profiles:
      - prod

networks:
  mk_network:
    driver: bridge

volumes:
  pg_data:
